@import './styles/reset';
@import './styles/colors';

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.1875;
    font-weight: 400;
    color: $default-font-color;
}

button:hover:not(:disabled) {
    cursor: pointer;
}
